* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1710162734220-d543f0dff259?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    color: white;
}

header {
    background: linear-gradient(to bottom, #ffd1d1c2, rgba(255, 106, 106, 0.562));
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 3px solid black;
}

nav {
    height: 60%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: white;

    text-decoration: none;
    margin: 10px 2vw;
}

.balao {
    background: linear-gradient(to bottom, #ff7d7dc2, rgba(155, 0, 0, 0.562));
    border: 2px solid rgb(0, 0, 0);
    width: 60%;
    height: auto;
    min-height: 200px;
    margin: 5vh auto;
    border-radius: 10px;
}

.balao h1 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    text-decoration: none;

}

.balao-metade {
    background: linear-gradient(to bottom, #ffd1d1c2, rgba(255, 106, 106, 0.562));
    border: 2px solid rgb(0, 0, 0);
    width: 35%;
    min-width: 500px;
    min-height: 300px;
    margin-bottom: 5vh;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
}

.imagem {
    width: 50%;
    height: auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.imagem-pequena {
    width: 30%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

#home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.caixa-flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.grid-coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.grid-linha {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
